/*  Main */
.logo {
    float: left;
    margin-right: 5px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.footer {
    margin-top: 50px;
}

/*  Jobs */
.free-search {
    width: 100%;
    padding: 5px;
    line-height: 30px;
}

.company-logo {
    padding: 5px;
    float: left;
}

.job-details {
    float: left;
}

.jobs-cards {
    width: 66%;
    float: left;
    padding: 5px;
}

.job-card {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.jobs-filters {
    width: 34%;
    float: right;
    padding: 5px;
}

.to-job-site {
    float: right;
}

/*  Filter component */
.checkbox-filter {
    padding: 10px;
    background-color: white;
    margin-bottom: 15px;
}

/*  Filter component */
.pagination ul {
    padding-left: auto;
    padding-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.pagination li {
    display: inline-block;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li:not(.active) a {
    color: black;
}

.pagination li.active a {
    color: white;
}

.pagination li.active {
    background-color: #f44336;
    color: white;
}

.pagination li:hover:not(.active) {background-color: #ddd;}